
 .companiesdetail-top-box{
     background: url("../images/companiesdetail-bg.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -ms-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     text-align: center;
     background-attachment: fixed;
     padding: 250px 0px;
     position: relative;
}

 .companiesdetail-top-box::before{
     background: rgba(0,0,0,0.6);
     content: "";
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}

 .companiesdetail-top-box h4{
     font-size: 38px;
     font-weight: 700;
     color: #ffffff;
     padding-bottom: 10px;
}

div.detailwrapper{
	
	width: 1300px;
	margin: 0 auto;
}

div.companyname{
	
	font-weight: bold;
	margin-top: 200px;
}