@charset "utf-8";


 .contents-top-box{
     background: url("../images/contents-bg.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -ms-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     text-align: center;
     background-attachment: fixed;
     padding: 200px 0px;
     position: relative;
}

 .contents-top-box::before{
     background: rgba(0,0,0,0.6);
     content: "";
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}

 .contents-top-box h5{
     font-size: 25px;
     font-weight: 700;
     color: #ffffff;
     padding-bottom: 40px;
}


div.contents{
	
	border: 0px solid #fff8e1; /* border가 없던지 있던지 !! 맘에 드는대로 조정 */
	float: left; 
	width: 20%; 
	height: 300px;
	background: white;
	cursor: pointer;
}

div.contents>hr{
	
	background-color: #fff8e1;
	border: 2px dashed gray;  
}

#contentsmaintitle>hr{
	
	background-color: #fff8e1;
	border: 1px dashed gray; 
}

#contentsblock{
	
	border: 1px solid #fff; 
	float: left; 
	width: 20%; 
	height: 300px;
	background: white;
}

#contentsmaintitle{
	
	width: 100%;
	height: 200px;
	font-weight: bold;
	font-size: 15pt;
	color: gray;
	text-align: center;
	padding-top: 50px;
	
}

#conimg{
	
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
    width: 90%;
    height: 200px;
   	overflow: hidden;
    object-fit: cover;
   	border-radius: 20px;
}

span.tags{
	
	margin-right: 20px;
	padding: 15px;
	color: #40e0d0;
	float: right;
	width: 40px;
	height: 40px;
	background-color: lightgray;
	border-radius: 100px;
}

span.job{
	
	color: #b2ebf2;
	font-weight: bold;
}

#contentbottomend{
	
	width: 100%;
	height: 100px;
	float: left;
	background: white;
}