@charset "utf-8";

#slide_pic{
	
	width: 100%;
	height: 500px;
	
}

#contents{
	
	border: 1px solid #fff; 
	float: left; 
	width: 20%; 
	height: 300px;
	background: white;
}

#youtube{
	
	width: 100%;
	height: 200px;
	float: none;
	border-radius: 20px;
}