

.contents_wrap,
.position_wrap{	
	height: 350px;
	background-color: #e0ffff;
	
}
.contents_wrap{
	margin-top: 30px;
}

.intro{
	
	width: 550px;
	margin-left: 18%;
	
}

.intro1{
	
	width: 500px;
	margin-left: 20%;
	
}

.imgs{
	
	margin-left: 15%;
}

div.companies{
	width: 300px;
	height: 300px;
	border: 3px solid #eeeeee;
	border-radius: 20px;
	margin-bottom: 30px;
	cursor: pointer;
}

#comhr{
	background-color: #e0e0e0;
	border: 2px dashed #80cbc4;  
}

div.pic{
	width: 300px;
	margin-top: 20px;
}

div.pic>img{
	margin-left: 15%;
	display: inline-block;
    width: 70%;
    height: 70px;
   	overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

div.txt>p{
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 10px;
}


div.wrapper{
	margin-top: 30px;
}


div.txt>button{
	
	background-color:#bdbdbd;
    color:#fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    box-shadow: 3px 3px 0px 0px rgb(85, 30, 32);
    height: 40px;
    margin-right: 10px;
    
}