


 .potision-top-box{
     background: url("../images/position-bg.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -ms-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     text-align: center;
     background-attachment: fixed;
     padding: 70px 0px;
     position: relative;
}

 .potision-top-box::before{
     background: rgba(0,0,0,0.6);
     content: "";
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}

 .potision-top-box h2{
     font-size: 38px;
     font-weight: 700;
     color: #ffffff;
     padding-bottom: 10px;
}

 .potision-top-box h4{
     font-size: 18px;
     font-weight: 700;
     color: #ffffff;
     padding-bottom: 10px;
}


.suggestion{
	width: 80%;
	margin-left: 10%; 
	margin-top: 5%;
}


/* 총 ~건의 제안이 도착했습니다 */
#totPo{
	display: inline;
	margin-left: 2%;
}


/* 포지션 테이블 */
#position-table{
    border-top: 1px solid #00e1ff;
    width: 100%;
	max-width: 100%;
}

#position-table tr{
	height: 40px;
	border-top: 1px solid #00e1ff;
}


#position-table td{
	padding : 20px;	
}


/* 포지션 받기 */
.switch-button {
	position: relative; 
	display: inline-block; 
	width: 55px; 
	height: 30px; 
}

.switch-button input {
	opacity: 0;
	width: 0;
	height: 0; 
} 

.onoff-switch { 
	position: absolute; 
	cursor: pointer; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	border-radius:20px; 
	background-color: #ccc; 
	box-shadow: inset 1px 5px 1px #999; 
	-webkit-transition: .4s; 
	transition: .4s; 
} 

.onoff-switch:before { 
	position: absolute; 
	content: ""; 
	height: 22px; 
	width: 22px; 
	left: 4px; 
	bottom: 4px; 
	background-color: #fff; 
	-webkit-transition: .5s; 
	transition: .4s; 
	border-radius:20px; 
} 

.switch-button input:checked + .onoff-switch { 
	background-color: #F2D522; 
	box-shadow: inset 1px 5px 1px #E3AE56; 
} 
	
.switch-button input:checked + .onoff-switch:before { 
	-webkit-transform: translateX(26px); 
	-ms-transform: translateX(26px); 
	transform: translateX(26px); 
}



/* 컴퍼니 */

 .company-top-box{
     background: url("../images/companies-bg.jpg") no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -ms-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     text-align: center;
     background-attachment: fixed;
     padding: 70px 0px;
     position: relative;
}

 .company-top-box::before{
     background: rgba(0,0,0,0.6);
     content: "";
     position: absolute;
     z-index: 0;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}

 .company-top-box h2{
     font-size: 38px;
     font-weight: 700;
     color: #ffffff;
     padding-bottom: 10px;
}

div.companies{
	width: 300px;
	height: 300px;
	border: 2px solid #40e0d0;
	border-radius: 20px;
	margin-bottom: 30px;
	cursor: pointer;
}

div.pic{
	width: 300px;
	margin-top: 20px;
}

div.pic>img{
	margin-left: 15%;
	display: inline-block;
    width: 70%;
    height: 70px;
   	overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

div.txt>p{
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 10px;
}

table{
	margin: 0 auto;
}

div.wrapper{
	margin-top: 30px;
}

button.jobs-tag{
	font-size: 11px;
	height: 28px;
	border-radius: 14px;
	border-color: #E0F7FA; 
	float: right;
	margin-right: 10px;
	padding: 0 12px;
	color: gray;
	background-color: #E0F7FA;
}


/*  */
.how-about{
	padding-top: 50px;
	padding-bottom: 70px;
}


a { text-decoration:none !important }
a:hover { text-decoration:none !important }


.modal-content{
	right: 20%;
	width: 700px;
	margin-right: 500px;  
	height: 500px; 
}