@charset "UTF-8";


.slide_wrapper{
	
	position: relative;
	width: 1120px;
	margin: 0 auto;
	height: 430px;
	overflow: hidden;
	
}

.slides{
	
	position: absolute;
	left: 0; top: 0;
	/* width: 2210px; */
	transition: left 0.5s ease-out;
}

.slides li:not(:last-child){
	
	
	margin-right: 30px;
}

.slides li{
	float: left;
}

.slides1{
	
	position: absolute;
	left: 0; top: 0;
	/* width: 2210px; */
	transition: left 0.5s ease-out;
}

.slides1 li:not(:last-child){
	
	
	margin-right: 30px;
}

.slides1 li{
	float: left;
}

.slides2{
	
	position: absolute;
	left: 0; top: 0;
	/* width: 2210px; */
	transition: left 0.5s ease-out;
}

.slides2 li:not(:last-child){
	
	
	margin-right: 95px;
}

.slides2 li{
	float: left;
}


.pre,
.next,
.pre1,
.next1,
.pre2,
.next2  {
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  color: #40e0d0;
}


.pre_wrap{
	position: absolute;
	left: 160px;
	top: 130px;
}
.next_wrap{
	position: absolute;
	right: 200px;
	top: 130px;
}


.slide_title{
	
	margin: 0 auto;
	width: 1100px;
	margin-top: 30px;
}
